<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.oregonstate.cass.WorkingWaterfrontsMobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Waterfronts</name>
    <description>
		An Oregon Sea Grant mobile app for exploring visitor-friendly work sites along the Oregon coast.
	</description>
    <author email="support@phonegap.com" href="http://seagrant.oregonstate.edu/">
		Oregon Sea Grant, Oregon State Univerity
	</author>
    <content src="index.html" />
    <access origin="*.googleapis.com" />
    <access origin="*.gstatic.com" />
    <access origin="*.osuosl.org" />
    <access origin="img.youtube.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-installLocation" value="auto" />
    <hook src="hooks/overwrite_ios_view.js" type="after_build" />
    <platform name="ios">
        <preference name="FadeSplashScreenDuration" value="1" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <icon height="60" src="../resources/icons/64.png" width="60" />
        <icon height="120" src="../resources/icons/144.png" width="120" />
        <icon height="180" src="../resources/icons/192.png" width="180" />
        <icon height="76" src="../resources/icons/96.png" width="76" />
        <icon height="152" src="../resources/icons/192.png" width="152" />
        <icon height="40" src="../resources/icons/48.png" width="40" />
        <icon height="80" src="../resources/icons/96.png" width="80" />
        <icon height="57" src="../resources/icons/57.png" width="57" />
        <icon height="114" src="../resources/icons/114.png" width="114" />
        <icon height="72" src="../resources/icons/72.png" width="72" />
        <icon height="144" src="../resources/icons/144.png" width="144" />
        <icon height="29" src="../resources/icons/29.png" width="29" />
        <icon height="58" src="../resources/icons/58.png" width="58" />
        <icon height="50" src="../resources/icons/57.png" width="50" />
        <icon height="100" src="../resources/icons/114.png" width="100" />
        <splash height="480" src="../resources/splash/ios/non_retina_por.png" width="320" />
        <splash height="320" src="../resources/splash/ios/non_retina_lan.png" width="480" />
        <splash height="960" src="../resources/splash/ios/retina_por.png" width="640" />
        <splash height="640" src="../resources/splash/ios/retina_lan.png" width="960" />
        <splash height="1136" src="../resources/splash/ios/retina5_por.png" width="640" />
        <splash height="640" src="../resources/splash/ios/retina5_lan.png" width="1136" />
        <splash height="1024" src="../resources/splash/ios/ipad_non_retina_por.png" width="768" />
        <splash height="768" src="../resources/splash/ios/ipad_non_retina_lan.png" width="1024" />
        <splash height="1334" src="../resources/splash/ios/iphone6_por.png" width="750" />
        <splash height="750" src="../resources/splash/ios/iphone6_lan.png" width="1334" />
        <splash height="2048" src="../resources/splash/ios/ipad_retina_por.png" width="1536" />
        <splash height="1536" src="../resources/splash/ios/ipad_retina_lan.png" width="2048" />
        <splash height="2208" src="../resources/splash/ios/iphone6plus_por.png" width="1242" />
        <splash height="1242" src="../resources/splash/ios/iphone6plus_lan.png" width="2208" />
    </platform>
    <platform name="android">
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="false" />
        <icon gap:qualifier="ldpi" height="36" src="../resources/icons/36.png" width="36" />
        <icon gap:qualifier="mdpi" height="48" src="../resources/icons/48.png" width="48" />
        <icon gap:qualifier="hdpi" height="72" src="../resources/icons/72.png" width="72" />
        <icon gap:qualifier="xhdpi" height="96" src="../resources/icons/96.png" width="96" />
        <icon gap:qualifier="xxhdpi" height="114" src="../resources/icons/114.png" width="114" />
        <icon gap:qualifier="xxxhdpi" height="144" src="../resources/icons/144.png" width="144" />
        <splash density="port-ldpi" src="../resources/splash/android/LDPI_por.9.png" />
        <splash density="land-ldpi" src="../resources/splash/android/LDPI_lan.9.png" />
        <splash density="port-mdpi" src="../resources/splash/android/MDPI_por.9.png" />
        <splash density="land-mdpi" src="../resources/splash/android/MDPI_lan.9.png" />
        <splash density="port-hdpi" src="../resources/splash/android/HDPI_por.9.png" />
        <splash density="land-hdpi" src="../resources/splash/android/HDPI_lan.9.png" />
        <splash density="port-xhdpi" src="../resources/splash/android/XHDPIpor.9.png" />
        <splash density="land-xhdpi" src="../resources/splash/android/XHDPIlan.9.png" />
    </platform>
    <engine name="android" spec="^4.0.2" />
    <engine name="ios" spec="~3.9.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
    <plugin name="org.apache.cordova.geolocation" spec="^0.3.12" />
    <plugin name="org.apache.cordova.device" spec="^0.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.1.0" />
    <plugin name="org.apache.cordova.inappbrowser" spec="^0.6.0" />
    <plugin name="cordova-ios-application-queries-schemes" spec="~0.0.1" />
</widget>
