### External Dependencies ###
node_modules/**
keystores/**

### Compiled Files ###
build/
resources/sass/.sass-cache/
resources/css/

phonegap/*
!phonegap/hooks
!phonegap/config.xml

bootstrap.js
bootstrap.json

### temp and log Files ###
**/*.temp*
**/*.log
**/*-log*
*.sublime-workspace

.DS_Store

.sencha_backup
