### External Dependencies ###
node_modules/**

### Compiled Files ###
build/
docs/build/
resources/sass/.sass-cache/
resources/css/
phonegap/platforms/
phonegap/www/
bootstrap.js
bootstrap.json

### temp and log Files ###
**/*.temp*
**/*.log
**/*-log*
*.sublime-workspace
