// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

.x-inner .x-form-fieldset-inner{
	margin-top: 20px;
	color: red;
	max-height: 200px;
}
#ext-container-1{
	margin-top: 200px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	background-color: orange;
}
#ext-container-2{
	max-height: 130px;
}
#ext-element-15{
	background-color: #F0F0F0;
}
#ext-element-16{
	background-color: #F0F0F0;
}

#ext-fieldset-1{
	max-height: 150px;
}
#ext-element-50{
	max-height: 130px;
}

#ext-SeaGrantMap-1{
	
	width: 80%;
	margin-bottom: 20px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}


// Examples of using the icon mixin:
// @include icon('user');