// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

#poisList {
	height: 30%;
	top: 70%;
	font-size: 0.8em;
}

// MAP STYLE
#ext-SeaGrantMap-1 {
	height: 64%;
	border: 1px solid #eee;
}



// Text styling
div.gm-style-iw{
	min-height: 20px;
	padding: 2px;
//	color: white;
}

// Examples of using the icon mixin:
// @include icon('user');

// Home View Styles

$label-bg-color: rgba(0,50,255,0.1);
$warning-bg-color: rgba(255,50,50,0.2);

div.helloLabel {
	font-style: italic;
	padding: 0.5em;
	background-color: $label-bg-color;
}

div.searchTotal {
	text-align: center;
	padding: 0.5em 1em;
	background-color: $label-bg-color;
}

div.locateError {
	text-align: center;
	padding: 0.5em;
	background-color: $warning-bg-color;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#goBtn {
	height: 3em;
	@include border-top-radius(0);
}

#listLabel {
	font-style: italic;
	font-size: 0.8em;
	padding: 0.5em;
	background-color: $label-bg-color;
	top: 64%;
	height: 6%;
}

#poiFieldImages img,
#poiFieldVideos img {
	@include border-radius(8px);
	width: 96%;
	margin: 0.5em 2%;
}

#poiFieldVideos div.video:after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 120px;
    z-index: 100;
    background: transparent url(/resources/images/YouTube-icon-full_color.png) no-repeat center;
    pointer-events: none;
}

